/*
 * Style for index screen only
 * Design is based on Manjaro welcome screen by Joshua Strot
 */

a {
    outline: 0;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}

#contents {
    margin-top: 25px;
}

.desc {
    color: #4d4d4d;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
    margin: 15px;
}
.desc h2 {
    color: #111111;
    font-size: 36px;
    line-height: 36px;
    font-weight: 300;
    text-align: center;
}

.cont-container {
    float: left;
    width: 33%;
}
.cont-container:hover {
    opacity: 0.8;
}
.cont-header {
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
}
.cont-item {
    text-align: left;
    display: block;
    vertical-align: middle;
    background: #008dc6;
    margin: 0px 20px;
    padding: 30px 0px 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.cont-png {
    display: block;
    vertical-align: middle;
    margin: 0px auto;
    padding-bottom: 30px;
}
.cont-text {
    margin: 0 auto;
    padding: 10px;
    display: block;
    vertical-align: middle;
    font-size:15px;
    text-align: center;
    color: #000;
    background: #fff;
    border: 1px solid #ddd;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* Footer fixed to the bottom of the window, index screen only */
footer {
    bottom: 0;
    position: absolute;
}
