/*
 * Common styles for index and other screens
 * Design is based on Manjaro welcome screen by Joshua Strot
 */

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background-color: #f7f7f7;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

/* Add left and right margins to the content area */
.wrapper {
    margin: 0 5%;
    display: block;
}

footer {
    margin: 0;
    width: 100%;
    height: 50px;
    overflow: hidden;
    background-color: #343538;
    background-repeat: repeat;
}

#logo {
    margin: 10px;
    float: left;
}
#header {
    margin: 0px 0px 20px 0px;
    padding: 0 0 10px 0;
    width: 100%;
    overflow: hidden;
    background-image: url("../img/header.png");
    background-repeat: repeat-x;
    background-position: top;
}
#header-text {
    line-height: 49px;
    font-size: 28px;
    font-weight: 300;
    display: inline;
    vertical-align: middle;
    color: #4d4d4d;
}

/* Header info - right hand side */
#codename {
    margin: 16px 8px 0px 10px;
    float: right;
    font-size: 16px;
    line-height: 18px;
    color: #4d4d4d;
}
.version {
    margin: 0px 10px;
    color: #008dc6;
}

/* Architecture tags */
.arch32 {
    margin: -6px -6px 0 10px;
    padding: 6px 8px;
    background-color:#4cd797;
    border: 0;
    border-radius: 3px;
    color: #dbf7ea;
    clear: right;
}
.arch64 {
    margin: -6px 0 0 10px;
    padding: 6px 8px;
    background-color:#4cafd7;
    border: 0;
    border-radius: 3px;
    color: #dbeff7;
    clear: right;
}

/* Navigation - back to index */
#navigation {
    margin-top: -5px;
    border-radius: 0px 2px 2px 0px;
    box-shadow: 2px 0px 10px #ddd;
    background-color: #fff;
    padding: 8px 6px;
    display: none;
    text-align: center;
    position: fixed;
    left: 0;
}
#navigation img {
    width: 20px;
    height: 20px;
}
#navigation a {
    color: #343538;
    text-decoration: none;
    font-size: 14px;
}
#navigation a:visited, #navigation a:active {
    color: #111111;
    text-decoration: none;
}

/* Social media icons */
#social-media {
    float: left;
    margin: 7px 0px 0px 2px;
}
.social-media-img {
    margin-left: 4px;
}
.social-media-img:hover {
    opacity: 0.8;
}

/* Show at startup checkbox */
#checkbox {
    margin-top: 7px;
    float: right;
    color: #f7f7f7;
    font-size: 13px;
}
#checkbox a{
    color: #f7f7f7;
    text-decoration: none;
}
#checkbox a:hover, #checkbox a:active{
    color: #f7f7f7;
    text-decoration: none;
}
.icon-check {
    display: inline-block;
    width: 214px;
    height: 36px;
    margin-right: 1px;
    line-height: 24px;
    background-image: url("../img/checkbox.png");
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0px;
}
.icon-check-empty {
    display: inline-block;
    width: 214px;
    height: 36px;
    margin-right: 1px;
    line-height: 24px;
    background-image:url("../img/checkbox-outline.png");
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 0px;
}
.icon-check:hover, .icon-check-empty:hover {
    opacity: 0.8;
}

/* Close button */
#close {
    margin: 7px;
    float: right;
    color: rgba(255, 255, 255, 0.6);
    padding: 10px 12px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-decoration: none;
    background-color: #202122;
    border: 1px solid #111111;
    border-radius: 2px;
    font-size: 14px;
    line-height: 14px;
}
#close:hover, #close:active{
    color: rgba(255, 255, 255, 0.8);
    background: #171717;
    text-decoration: none;
}