/*
 * Extras, additional styles for other screens
 * Design is based on Manjaro welcome screen by Joshua Strot
 */

a {
    outline: 0;
    color: #008dc6;
    text-decoration: underline;
}
a:hover, a:active, a:visited {
    color: #008dc6;
}

#content {
    float: left;
    text-align: justify;
}
#content-header {
    color: #c4c3c9;
    font-size: 36px;
    line-height: 42px;
    font-weight: 300;
    text-align: center;
    margin: 15px;
}
.content-subheader {
    font-size: 28px;
    margin: 10px; 
    font-weight: 300;
    clear: left;
    color: #c4c3c9;
}
.paragraph {
    font-size: 16px;
    line-height: 22px;
    margin: 20px 30px;
    color: #c4c3c9;
}
.subparagraph {
    font-size: 18px;
    margin: 15px;
    font-weight: 400;
    clear: left;
    color: #c4c3c9;
}
.content-image-left {
    float: left; 
    clear: right;
    margin: 10px;
}
.content-image-right {
    float: right; 
    clear: left; 
    margin: 10px;
}
.content-clear-left {
    clear: right;
}
.content-clear-right {
    clear: left;
}
.content-push {
    padding-top: 10px;
}
.list {
    font-size: 16px;
    padding-right: 20px;
    color: #c4c3c9;
}
.list li {
    margin-bottom: 2px;
    list-style-type: square;
} 
